/* basscss extend */

.mpoint5  { margin: .5rem }
.mtpoint5 { margin-top: .5rem }
.mrpoint5 { margin-right: .5rem }
.mbpoint5 { margin-bottom: .5rem }
.mlpoint5 { margin-left: .5rem }

.m1  { margin: 1rem }
.mt1 { margin-top: 1rem }
.mr1 { margin-right: 1rem }
.mb1 { margin-bottom: 1rem }
.ml1 { margin-left: 1rem }

.m1point5  { margin: 1.5rem }
.mt1point5 { margin-top: 1.5rem }
.mr1point5 { margin-right: 1.5rem }
.mb1point5 { margin-bottom: 1.5rem }
.ml1point5 { margin-left: 1.5rem }

.m2  { margin: 2rem }
.mt2 { margin-top: 2rem }
.mr2 { margin-right: 2rem }
.mb2 { margin-bottom: 2rem }
.ml2 { margin-left: 2rem }

.m2point5  { margin: 2.5rem }
.mt2point5 { margin-top: 2.5rem }
.mr2point5 { margin-right: 2.5rem }
.mb2point5 { margin-bottom: 2.5rem }
.ml2point5 { margin-left: 2.5rem }

.m3  { margin: 3rem }
.mt3 { margin-top: 3rem }
.mr3 { margin-right: 3rem }
.mb3 { margin-bottom: 3rem }
.ml3 { margin-left: 3rem }

.m3point5 { margin: 3.5rem }
.mt3point5 { margin-top: 3.5rem }
.mr3point5 { margin-right: 3.5rem }
.mb3point5 { margin-bottom: 3.5rem }
.ml3point5 { margin-left: 3.5rem }

.m4  { margin: 4rem }
.mt4 { margin-top: 4rem }
.mr4 { margin-right: 4rem }
.mb4 { margin-bottom: 4rem }
.ml4 { margin-left: 4rem }

.m5  { margin: 5rem }
.mt5 { margin-top: 5rem }
.mr5 { margin-right: 5rem }
.mb5 { margin-bottom: 5rem }
.ml5 { margin-left: 5rem }

.m6  { margin: 6rem }
.mt6 { margin-top: 6rem }
.mr6 { margin-right: 6rem }
.mb6 { margin-bottom: 6rem }
.ml6 { margin-left: 6rem }

.m7  { margin: 7rem }
.mt7 { margin-top: 7rem }
.mr7 { margin-right: 7rem }
.mb7 { margin-bottom: 7rem }
.ml7 { margin-left: 7rem }

.m8  { margin: 8rem }
.mt8 { margin-top: 8rem }
.mr8 { margin-right: 8rem }
.mb8 { margin-bottom: 8rem }
.ml8 { margin-left: 8rem }

.m9  { margin: 9rem }
.mt9 { margin-top: 9rem }
.mr9 { margin-right: 9rem }
.mb9 { margin-bottom: 9rem }
.ml9 { margin-left: 9rem }

.m10  { margin: 10rem }
.mt10 { margin-top: 10rem }
.mr10 { margin-right: 10rem }
.mb10 { margin-bottom: 10rem }
.ml10 { margin-left: 10rem }

.m11  { margin: 11rem }
.mt11 { margin-top: 11rem }
.mr11 { margin-right: 11rem }
.mb11 { margin-bottom: 11rem }
.ml11 { margin-left: 11rem }

.m12  { margin: 12rem }
.mt12 { margin-top: 12rem }
.mr12 { margin-right: 12rem }
.mb12 { margin-bottom: 12rem }
.ml12 { margin-left: 12rem }

.point5  { padding: .5rem }
.pypoint5 { padding-top: .5rem; padding-bottom: .5rem }
.pxpoint5 { padding-left: .5rem; padding-right: .5rem }

.p1  { padding: 1rem }
.py1 { padding-top: 1rem; padding-bottom: 1rem }
.px1 { padding-left: 1rem; padding-right: 1rem }

.p1point5  { padding: 1.5rem }
.py1point5 { padding-top: 1.5rem; padding-bottom: 1.5rem }
.px1point5 { padding-left: 1.5rem; padding-right: 1.5rem }

.p2  { padding: 2rem }
.py2 { padding-top: 2rem; padding-bottom: 2rem }
.px2 { padding-left: 2rem; padding-right: 2rem }

.p2point5 { padding: 2.5rem }
.py2point5 { padding-top: 2.5rem; padding-bottom: 2.5rem }
.px2point5 { padding-left: 2.5rem; padding-right: 2.5rem }

.p3  { padding: 3rem }
.py3 { padding-top: 3rem; padding-bottom: 3rem }
.px3 { padding-left: 3rem; padding-right: 3rem }

.p4  { padding: 4rem }
.py4 { padding-top: 4rem; padding-bottom: 4rem }
.px4 { padding-left: 4rem; padding-right: 4rem }

.sm-show-inline, .md-show-inline, .lg-show-inline {
  display: none !important
}

.sm-show-inline-block, .md-show-inline-block, .lg-show-inline-block {
  display: none !important;
}

@media (min-width: 40em) {
  .sm-show-inline { display: inline !important }
  .sm-show-inline-block { display: inline-block !important }
}

@media (min-width: 52em) {
  .md-show-inline { display: inline !important }
  .md-show-inline-block { display: inline-block !important }
}

@media (min-width: 64em) {
  .lg-show-inline { display: inline !important }
  .lg-show-inline-block { display: inline-block !important }
}

.max-width-small {
  max-width: 40rem;
}



